@import "tailwindcss";

:root {
    --primary: #805228;
    --primary-light: #573817;
    --primary-tint: #ffdeb3;

    --secondary: #FEBA17;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-tint: var(--primary-tint);

    --color-secondary: var(--secondary);
}