@import "tailwindcss";

:root {
    --primary: #FF9B17;
    --primary-light: #FFA955;
    --primary-tint: #ffe9cc;

    --secondary: #FEBA17;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-light: var(--primary-light);
    --color-primary-tint: var(--primary-tint);

    --color-secondary: var(--secondary);
}